.login-form-background-image {
    // background: url("https://static1.squarespace.com/static/52e005e5e4b0454d6c834077/560d8cdbe4b0b6a994f66e27/5ac243301ae6cf734daf3a59/1522680632514/Highcourt53+%28Copy%29.jpg?format=750w");
    background-size: contain;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%
}